.messages{
  height: calc(100vh - 263px);
  padding: 46px 40px;
  background-color: #fafafa;
  overflow: scroll;

  .message{
    padding-bottom: 40px;

    &_upper {
      display: flex;
      margin-bottom: 10px;

      &__user-name {
        color: #434a54;
        font-size: 16px;
        font-weight: bold;
      }

      &__date {
        color: #999999;
        font-size: 14px;
        margin-left: 10px;
      }
    }
    &__text{
      color: #434a54;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
}


