.header{
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #eee;

  &_leftbox{
  margin-top: 35px;

    &_group {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
  }
    &_member-list {
    display: flex;
    font-size: 12px;
    color: #999999;
  }
}

  &_rightbox{
    color: $light_blue;

      &_edit-btn{
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px $light_blue;
    }
  }
}

