.chat-side {
    height: 100vh;
    width: 300px;
    float: left;
    color: white;

    &_header{
    height: 100px;
    display: flex;
    background-color: $side_blue_dark;
    align-items: center;
    padding: 0 20px;

        &_box {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-weight: bold;

          &_user-name{
          margin: 0;
          padding: 0;
          }

          &_menu {
          display: flex;

            &_edit-user{
            margin-left: 0.3rem;
            }
                .fas.fa-edit {
                 color: white;
                 display: inline-block;
                 font-size: inherit;
                 text-rendering: auto;
                 -webkit-font-smoothing: antialiased;
                 content: "\f044";
                }

            &_new-group{
            margin-left: 0.3rem;
            }

                .fas.fa-cog {
                 color: white;
                 display: inline-block;
                 font-size: inherit;
                 text-rendering: auto;
                 -webkit-font-smoothing: antialiased;
                 content: "\f013";
                }
         }
       }
    }

    &_groups {
    background-color: $side_blue_light;
    height: calc(100vh - 100px);
    padding: 20px 20px 0;
    overflow: scroll;

      .chat-side_group {
       margin-bottom: 40px;

        &_name {
        font-size: 15px;
        margin-bottom: 5px;
        }

        &_message {
        font-size: 11px;
        }
      }
    }
}




