.form {
  padding: 20px 40px;
  // height: 90px;
  background-color: #ddd;
  input{
    // width: calc(100vw - 350px);
    height: 50px
  }

  .new_message {
  display: flex;

  .input-box {
    position: relative;
    width: 100%;
    &__text {
      height: 50px;
      width: 90%;
      padding: 0 40px 0 10px;
      color: #434a54;
      border-style: none;
    }
    &__image {
      font-size: 1.3rem;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;

      i.fas.fa-image {
        display: inline-block;
        font: normal normal normal 14px;
        font-size: inherit;
        text-rendering: auto;
      }
      input#message_image {
      display: none;
     }
    }
  }

  .submit-btn {
   width: 100px;
   height: 50px;
   padding: 0 30px;
   margin-left: 15px;
   background-color: $light_blue;
   color: white;
   cursor: pointer;
  }
 }
}






// .form_input-box_label{
//   font-size: 1.3rem;
//   position: absolute;
//   top: 10px;
//   right: 10px;
//   cursor: pointer;
// }

// .form_input-box_submit-btn{
//   width: 100px;
//   height: 50px;
//   padding: 0 30px;
//   margin-left: 15px;
//   background-color: $light_blue;
//   color: white;
//   cursor: pointer;
// }





